body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  color: #434455;
  letter-spacing: 1, 5;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  margin: 0 auto;
  width: 1158px;
}

/* Header */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo > .logo-blue {
  color: #4d5ae5;
}

.header .nav-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.nav {
  margin-left: 76px;
  margin-right: 332px;
}

.nav .nav-item {
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav .nav-item a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #2e2f42;
  padding-bottom: 8px;
  font-weight: 500;
}

.nav .nav-item a:hover {
  color: #404bbf;
}

.nav .nav-item-1:active {
  color: #404bbf;
}

.nav .nav-item-1.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 48px;
  height: 4px;
  background-color: #4d5ae5;
  border-radius: 2px;
}

.address .address-list {
  display: flex;
  font-style: normal;
  gap: 40px;
}

.address .address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address .address-link:hover {
  color: #404bbf;
}

.address-link {
  text-decoration: none;
}

/* Header Bitti */
/* Slider */

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .hero-title {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
  text-align: center;
}

.hero .hero-button {
  gap: 10px;
  color: white;
  margin-top: 48px;
  margin-bottom: 188px;
  font-weight: 500;
  line-height: 1.5;
  min-width: 169px;
  height: 56px;
  cursor: pointer;

  padding: 16px 32px;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* Slider Bitti*/

/*  Hizmetler Bölümü Başlangıç(SERVICES) */

.services .container {
  margin-top: 120px;
  margin-bottom: 120px;
}

.services .services-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.services .service-item {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Figma sola hizalı */
  gap: 8px;
}

.services .service-icon {
  width: 100%;
  height: 112px;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .service-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0;
}

.services .service-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

/*  Hizmetler Bölümü Bitiş(SERVICES) */
/* Takım Bölümü Başlangıç */

.team {
  background: #f4f4fd;
  padding: 120px 0 120px;
}
.team .container {
  padding: 0;
  margin: 0 auto;
}

.team .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-card {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-image {
  display: block;
  width: 100%;
  height: auto;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 32px;
}

.team-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-top: 8px;
}

.team-name-role {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.team-link-list {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.team-link-items {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  fill: #f4f4fd;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-items:hover,
.team-link-items:focus {
  background-color: #404bbf;
}
/* Takım Bölümü Bitiş */

/* Portfolio Bölümü */
.portfolio .container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio .portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio .portfolio-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio .portfolio-card {
  width: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .portfolio-card::hover .portfolio-item-text {
  transform: translateY(0%);
}

.portfolio .portfolio-card::hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

.portfolio .portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
  margin-left: 16px;
  text-align: left;
}

.portfolio-card .text {
  border-top: none;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio .portfolio-category {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: 16px;
  margin-bottom: 32px;
  text-align: left;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-image {
  display: block;
  width: 100%;
  height: auto;
}

/* Hover ile çıkan açıklama metni */
.portfolio-item-text {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb:hover .portfolio-item-text {
  transform: translateY(0%);
}

/* Portfolio Bölümü Bitiş */

/* Footer*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  gap: 120px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  gap: 120px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo-1,
.footer-social,
.subscribe-container {
  flex-basis: 300px;
  flex-shrink: 0;
}

.footer-logo-1 {
  margin-right: 120px;
}

.logo-blue {
  color: #f4f4fd;
}

.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
}

.logo-blue {
  color: #4d5ae5;
}

.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer-social {
  margin-left: -40px; /* sola doğru kaydırır */
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-icon {
  display: flex;
  gap: 16px;
  list-style: none;
}

/* İkon kutuları */
.social-media-icon {
  width: 40px;
  height: 40px;
}

.icon-media {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Hover efekt */
.icon-media:hover,
.icon-media:focus {
  background-color: #31d0aa;
}

/* SVG ikon rengi */
.icon {
  fill: #f4f4fd;
}

/* Footer Bitti*/
/*Footer Subscribe Başlangıç*/
.subscribe-container {
  width: 100%;
  max-width: 453px;
}

.form-subscribe {
  display: flex;
  gap: 24px;
  align-items: center;
}
.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
}
.email-user {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  background-color: transparent;
  color: #fff;
}

.email-user::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
}

.btn-icon {
  fill: #fff;
}
/*Footer Subscribe Bitti*/
/* Modal Penceresi Başlangıç*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .close,
.btn-close:focus .close {
  fill: #fff;
}

.modal-title {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.input-box {
  margin-bottom: 8px;
}

.label-input {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-container {
  position: relative;
}

.modal-input {
  padding-left: 38px;
  height: 40px;
  width: 360px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal-icons {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icons {
  fill: #4d5ae5;
}

.area-box {
  margin-bottom: 16px;
}

.area-input {
  height: 120px;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.check-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-bottom: 24px;
}

.check {
  margin: 0;
}

.check-label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.check-border {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
}

.check-input:checked + .check-label > .check-border {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.priv-policy {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.btn-send {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  /* padding: 16px 64px; */
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
